{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Django Rate</title>
</head>
<body>

    <style>
        .checked{
            color: red;
        }
        .btns{
            border: none;
            background-color: transparent;
        }
    </style>
    
    {% if rate %}
    <div class="full">
        <h1>Bu home page</h1>
        <img src="{{ rate.image.url }}" alt="error" width="500" height="500">
        <a href="{% url 'rate:home' %}"><button>Next</button></a>
        <form class="rate-form" method="POST" id="{{ rate.id }}">
            {% csrf_token %}
            <button type="submit" class="fa fa-star fa-3x btns"></button>
            <button type="submit" class="fa fa-star fa-3x btns"></button>
            <button type="submit" class="fa fa-star fa-3x btns"></button>
            <button type="submit" class="fa fa-star fa-3x btns"></button>
            <button type="submit" class="fa fa-star fa-3x btns"></button>
        </form>
    </div>
    {% else %}
    <h1>Rate qilgani rasm qolmadi</h1>
    {% endif %}
  

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>